<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HSBC-MEDS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: "#da373d",
                    },
                },
            },
        };
    </script>
    <link
            href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
            rel="stylesheet"
    />
</head>
<body>
<header class="bg-[#84b853] h-[38px] text-white font-medium text-center pt-2">HSBC-Med Store</header>
<section class="h-[90px] bg-[#32aeb1]">
    <article class="flex items-center justify-between px-4 mx-20">
        <figure class="flex items-center">
            <a th:href="@{/home}">
                <img
                        src="assets/logo.svg"
                        alt="logo"
                        class="h-[60px] w-[168px] ml-[20px] mt-[20px]"
                /></a>
            <figcaption class="flex items-center mt-3 ml-8 max-w-[620px] w-[600px] h-[48px] bg-white border rounded-[6px]">
                <select
                        id="countryDropdown"
                        class="dropdown h-full bg-white border-none max-w-[220px] rounded-l-[6px] p-2 focus:outline-none">
                    <option class="w-20">Select a country</option>
                    <option class="w-20" th:each="country : ${countries}" th:text="${country}"></option>
                </select>
                <input type="search" class="w-full h-full bg-white border-none rounded-r-[6px] placeholder-gray-500 text-black p-2 focus:border-white focus:outline-none" placeholder="Search for medicine & wellness products..." style="line-height: normal;" />
            </figcaption>
        </figure>
        <nav class="flex items-center mt-3">
            <figure class="flex items-center">
                <img src="assets/cart.png" alt="Cart" class="h-[28px] w-[28px] mr-2">
                <figcaption class="mr-12 font-medium text-white">Cart</figcaption>
            </figure>
            <figure class="flex items-center">
                <img src="assets/person.png" alt="Profile" class="h-[28px] w-[28px] mr-2 rounded-full bg-white p-1">
                <figcaption class="flex space-x-4">
                    <a th:href="@{signin}" id="signIn" class="text-white font-medium ">SignIn</a>
                </figcaption>
            </figure>
        </nav>
    </article>
</section>
<section class="container mx-auto p-4">
    <table class="min-w-full bg-white">
        <thead>
        <tr class="w-full bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left">Employee code</th>
            <th class="py-3 px-6 text-left">Designation</th>
            <th class="py-3 px-6 text-left">Salary</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="employee : ${employees}" class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left" th:text="${employee.employeeCode}"></td>
            <td class="py-3 px-6 text-left" th:text="${employee.designation}"></td>
            <td class="py-3 px-6 text-left" th:text="${employee.salary}"></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>